<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">


<svg th:fragment="icon-private" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
     class="bi bi-eye-slash" viewBox="0 0 16 16">
    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
</svg>

<svg th:fragment="icon-public" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
     class="bi bi-eye" viewBox="0 0 16 16">
    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg>

<div th:fragment="channel-table" class="table-responsive table-sm" xmlns:th="https://www.thymeleaf.org">
    <table class="channel-table table table-hover">
        <thead>
        <tr style="cursor: pointer">
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=announced\';'">Public</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=inbound\';'">Inbound</th>
            <th scope="col" style="text-align: center;" th:onclick="'window.location.href=\'?sort=ratio\';'">Ratio</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=outbound\';'">Outbound</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=capacity\';'">Capacity</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=localbasefee\';'">Base Fee (local)</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=localfeerate\';'">Fee Rate (local)</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=remotebasefee\';'">Base Fee (remote)</th>
            <th scope="col" style="text-align: right;" th:onclick="'window.location.href=\'?sort=remotefeerate\';'">Fee Rate (remote)</th>
            <th scope="col" th:onclick="'window.location.href=\'?sort=alias\';'">Alias</th>
            <th scope="col" th:onclick="'window.location.href=\'?sort=channelid\';'">Channel ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="channel : ${channels}">

            <td th:if="${channel.privateChannel}" title="unannounced channel">
                <div th:replace="~{fragments/channel-collections :: icon-private}"/>
            </td>
            <td th:unless="${channel.privateChannel}" title="public channel">
                <div th:replace="~{fragments/channel-collections :: icon-public}"/>
            </td>

            <td th:text="${@formatter.formatNumber(channel.balanceInformation.remoteBalanceSat)}"
                style="color: darkRed; text-align: right; padding-left:0;"></td>

            <td style="width: 260px">
                <div th:replace="~{fragments/balance-bar :: channel-table-column(${channel.balanceInformation})}"/>
            </td>

            <td th:text="${@formatter.formatNumber(channel.balanceInformation.localBalanceSat)}"
                style="color: darkGreen; text-align: right;"></td>

            <td th:text="${@formatter.formatNumber(channel.capacitySat)}" style="text-align: right;"></td>

            <td th:text="${@formatter.formatNumber(channel.policies.local.baseFeeMilliSat)}"
                style="text-align: right;"></td>

            <td th:text="${@formatter.formatNumber(channel.policies.local.feeRatePpm)}" style="text-align: right;"></td>

            <td th:text="${@formatter.formatNumber(channel.policies.remote.baseFeeMilliSat)}"
                style="text-align: right;"></td>

            <td th:text="${@formatter.formatNumber(channel.policies.remote.feeRatePpm)}"
                style="text-align: right;"></td>

            <td th:text="${channel.remoteAlias}"></td>

            <td><a th:text="${channel.channelId}"
                   th:href="@{/channel/{id}(id=${channel.channelId.shortChannelId})}"></a></td>

        </tr>
        </tbody>
    </table>
</div>

</html>
