<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <div th:replace="~{fragments/icons :: arrow-up}"/>
        </a>
        <span class="text-muted">Updated at &nbsp;</span>
        <a th:text="${@formatter.formatNumber(status.blockHeight)}"
           th:href="'https://www.blockstream.info/block-height/' + ${status.blockHeight}"></a>
        <span class="text-muted">.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/C-Otto/lnd-manageJ/issues">
                <div th:replace="~{fragments/icons :: message}"/>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://twitter.com/c_otto83">
                <div th:replace="~{fragments/icons :: twitter}"/>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/C-Otto/lnd-manageJ">
                <div th:replace="~{fragments/icons :: github}"/>
            </a>
        </li>
    </ul>
</footer>

</html>
