<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'')}">

<body>

<div class="row top-space">
    <div th:replace="~{fragments/tiles :: status(${status})}"/>

    <th:block th:each="node : ${status.warnings.nodesWithWarnings}" class="list-group-item">
        <div th:replace="~{fragments/tiles :: node-warning(${node.alias}, ${node.pubkey}, ${node.warnings})}"/>
    </th:block>

    <!--th:block th:each="channel : ${status.warnings.channelsWithWarnings}" class="list-group-item">
        <div th:replace="~{fragments/tiles :: channel-warning(${channel.channelId}, ${channel.channelId.shortChannelId}, ${channel.warnings})}"/>
    </th:block-->

    <div th:replace="~{fragments/tiles :: all-channels}"/>

    <div th:replace="~{fragments/tiles :: all-nodes}"/>

</div>

<!--canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas-->


</body>

</html>