<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="body">

    <div th:replace="~{fragments/page-title :: channel-link-title(${channel.channelId})}"/>

    <div class="row">

        <div th:replace="~{tiles/third/channel-details :: tile(${channel})}"/>
        <div th:replace="~{tiles/third/fee-policy :: tile(${channel.channelStatus}, ${channel.policies})}"/>
        <div th:replace="~{tiles/third/balance :: tile(${channel.balanceInformation})}"/>

        <div th:replace="~{tiles/third/on-chain-costs :: tile(${channel.onChainCosts}, ${channel.channelStatus.openClosed} == 'CLOSED')}"/>
        <div th:replace="~{tiles/third/rebalance-report :: tile(${channel.rebalanceReport})}"/>
        <div th:replace="~{tiles/third/fee-report :: tile(${channel.feeReport})}"/>

        <div th:replace="~{tiles/third/channel-warning :: tile('Warning', null, ${channel.warnings})}"/>
    </div>

</div>

</html>
