<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="tile (feeReport)" class="tile col-sm-4">
    <div class="card border-secondary">
        <div class="card-header">
            <div class="fs-4 mb-0">
                <div th:replace="~{fragments/icons :: pig}"/>
                Fee Report
            </div>
        </div>
        <div class="card-body">
            <div class="container" style="padding-left: 0; padding-right: 0;">
                <div class="row align-items-start">
                    <div class="tile-column-left col">
                        <ul class="list-group">
                            <li class="list-group-item disabled" aria-disabled="true">Earned (mSAT)</li>
                            <li class="list-group-item"
                                th:text="${@formatter.formatNumber(feeReport.earnedMilliSat)}"></li>
                        </ul>
                    </div>
                    <div class="tile-column-right col">
                        <ul class="list-group">
                            <li class="list-group-item disabled" aria-disabled="true">Sourced (mSAT)</li>
                            <li class="list-group-item"
                                th:text="${@formatter.formatNumber(feeReport.sourcedMilliSat)}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
