<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="tile (node)" class="tile col-sm-4">
    <div class="card border-secondary">
        <div class="card-header">
            <div class="fs-4 mb-0">
                <div th:replace="~{fragments/icons :: circle-info}"/>
                Details
            </div>
        </div>
        <div class="card-body">
            <p th:text="'Node Rating: ' + ${@formatter.formatNumber(node.rating.rating)}"></p>
        </div>
    </div>
</div>

</html>
