<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="tile (status)" class="tile col-sm-4">
    <div class="card border-secondary">
        <div class="card-header">
            <div class="fs-4 mb-0">
                <div th:replace="~{fragments/icons :: circle-info}"/>
                Status
            </div>
        </div>
        <div class="card-body">

            <div th:if="!${status.connected}">
                <p>Not connected.</p>
                <p>Verify LND is running and double-check the connection settings in lnd-manageJ.conf</p>
                <a href="/status" class="btn btn-dark mb-3 me-2 mb-md-0 text-decoration-none lh-1">
                    <div th:replace="~{fragments/icons :: arrow-repeat}"/>
                    Test Connection
                </a>
            </div>

            <div th:if="${status.connected}">
                <p th:text="'Synced: ' + ${status.synced} + '&nbsp;&nbsp;&nbsp;Block Height: '+${@formatter.formatNumber(status.blockHeight)}"></p>
                <a href="/" class="btn btn-dark mb-3 me-2 mb-md-0 text-decoration-none lh-1" th:if="${!status.synced}">
                    <div th:replace="~{fragments/icons :: arrow-repeat}"/>
                    Refresh
                </a>
            </div>

        </div>
    </div>
</div>

</html>
