<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">

<div th:fragment="tile (status)" class="tile col-sm-4">
    <div class="card border-secondary">
        <div class="card-header">
            <div class="fs-4 mb-0">
                <div th:replace="~{fragments/icons :: circle-info}"/>
                Status
            </div>
        </div>
        <div class="card-body">
            <p style="margin-bottom: 0;"
               th:text="'Synced: ' + ${status.synced} + '&nbsp;&nbsp;&nbsp;Block Height: '+${@formatter.formatNumber(status.blockHeight)}"></p>
        </div>
    </div>
</div>

</html>
