<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

<div th:replace="~{fragments/page-title :: channel-link-title(${channel.channelId})}"/>

<div class="row">

    <div th:replace="~{fragments/tiles :: channel-details(${channel})}"/>
    <div th:replace="~{fragments/tiles :: fee-policy(${channel.policies})}"/>
    <div th:replace="~{fragments/tiles :: balance(${channel.balanceInformation}, ${channel.getInboundPercentage}, ${channel.getOutboundPercentage})}"/>

    <div th:replace="~{fragments/tiles :: on-chain-costs(${channel.onChainCosts})}"/>
    <div th:replace="~{fragments/tiles :: rebalance-report(${channel.rebalanceReport})}"/>
    <div th:replace="~{fragments/tiles :: fee-report(${channel.feeReport})}"/>

    <div th:replace="~{fragments/tiles :: channel-warning('Warning', null, ${channel.warnings})}"/>
</div>

</body>

</html>