<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

<div th:replace="~{fragments/page-title :: node-link-title(${node.alias},${node.node})}"/>

<div class="row">

    <div th:replace="~{fragments/tiles :: channel-tile(${node})}"/>

    <div th:replace="~{fragments/tiles :: balance(${node.balance})}"/>
    <div th:replace="~{fragments/tiles :: rebalance-report(${node.rebalanceReport})}"/>
    <div th:replace="~{fragments/tiles :: on-chain-costs(${node.onChainCosts})}"/>

    <div th:replace="~{fragments/tiles :: fee-report(${node.feeReport})}"/>
    <div th:replace="~{fragments/tiles :: online-report(${node.onlineReport})}"/>
    <div th:replace="~{fragments/tiles :: node-warning('Warning', null, ${node.warnings})}"/>

</div>


</body>

</html>