.top-space {
  padding-top: 1rem;
}

.channel-table tbody td {
  padding: 0.3rem 0.5rem;
}

.node-table tbody td {
  padding: 0.3rem 0.5rem;
}

.title-table .card-body {
  padding: 0.2rem 0.5rem 0rem 0.5rem;
}

.tile {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.75rem;
}

.tile-column {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.tile-column-left {
  padding-right: 0.375rem;
}

.tile-column-right {
  padding-left: 0.375rem;
}
