.balance-bar {
  border-radius: .1rem;
}

.balance-bar-green {
  background-color: #0064001f;
  color: darkGreen;
  border: 1px solid;
}

.balance-bar-red {
  background-color: #8b000024;
  color: darkred;
  border: 1px solid;
}

.top-space {
  padding-top: 1rem;
}

.channel-table tbody td {
  padding: 0.3rem 0.5rem;
}

.node-table tbody td {
  padding: 0.3rem 0.5rem;
}

.title-table .card-body {
  padding: 0.2rem 0.5rem 0rem 0.5rem;
}

.tile {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.75rem;
}

.tile-column {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.tile-column-left {
  padding-right: 0.375rem;
}

.tile-column-right {
  padding-left: 0.375rem;
}

.link-button {
  color: black;
  background: rgba(0,0,0,.03);
  border-radius: 4px;
  border: 1px solid;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px 5px 15px;
}

.link-button:hover {
  color: #0a58ca;
}